h1{
    font-size: 30px;
    color: white;
    background-color: teal;
    border-radius: 10px;
    text-align: center; 
}
    label{
    color: teal;
}

input{
    background-color: white;
    border-radius: 10px;
}
.controle{
    padding: 10px;
    background-color: rgb(221, 241, 241);
    border: solid rgb(40, 136, 143);
    
}

.botoes{
    margin-top: 10px;
}