h1{
    font-size: 30px;
    color: white;
    background-color: teal;
    border-radius: 10px;
    text-align: center; 
}
table{
    width: 100%;
}

table, th, td{
    border: 1px solid teal;
    border-collapse: collapse; 
    text-align: center;
}

th{
    font-size: 14pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    c
}

caption{
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}