body{
    background-color: teal
}

h1, h2,td, label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

button{
    margin-top: 2rem;
}

td{
    margin-left: 5rem;
}

#tabela{
    padding-left: 27rem;
}